.hero-img {
  background: linear-gradient(rgba(10, 119, 188, 0.26), rgba(56, 99, 177, 0.2)),
    url(../img/bg1.jpg) center / cover;
}

html.sap-desktop .sapMList .sapMLIB.sapMALI:not(.sapMLIBActive) {
  padding: 0;
  outline: none !important;
}

.sapMALIText {
  color: black;
}